<app-header></app-header>
<div class="banner ">
    <div class="container" style="width: 28%;margin-bottom: 7%;">
        <div class="row  sign ">
          <!-- <img src="./assets/images/home.png" alt="Logo" style="width:500px; margin-top: 50px;"> -->
        <div class="col-md-12 col-md-offset-0">
      <div>
        <form  #uservideo="ngForm" style="margin-top: 50px ;"  (ngSubmit)="Userupload()" enctype="multipart/form-data">
            
              
            <div class="form-group pl-2 pr-2 mt-3">
              <label>Select Video</label>
              <input type="file" class="form-control" name="video" id="video" #video="ngModel" [(ngModel)]="userupload.video"  accept="video/*" required >
              
              
            </div>
            <div class="form-group pl-2 pr-2 mt-3">
              <label >Select Thumbnail</label>
              <input type="file" class="form-control" name="thumbnail" id="thumbnail" #thumbnail="ngModel"   [(ngModel)]="userupload.thumbnail"  required >
                 
            </div>        
              <div class="form-group pl-2 pr-2 mt-3">
                <label >Title</label>
                <input type="text" class="form-control" name="title" id="title" #title="ngModel"  [class.is-invalid]="title.invalid && title.touched"  [(ngModel)]="userupload.title" required >
              </div>
              <div class="form-group pl-2 pr-2 mt-3">
                <label >Description</label><br>
                <textarea name="description" id="description" cols="50" [(ngModel)]="userupload.description"   required></textarea>
              </div>
              <div class="form-group pl-2 pr-2 mt-3">
                <label >Tags</label>
                <input type="text" class="form-control" name="tags" id="tags" #tags="ngModel"  [class.is-invalid]="tags.invalid && tags.touched"  [(ngModel)]="userupload.tags" required >
              </div>
              <div class="form-group pl-2 pr-2 mt-3">
                <label >Category</label>
                <select class="form-control" [(ngModel)]="userupload.category" name="category" id="category" required>
                    <option value="Technology">Technology</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Education">Education</option>
                    <option value="Enternainment">Enternainment</option>
                </select>
              </div>
              <div class="form-group text-center  mb-4">
            <button type="submit" class="btn btn-warning  btn-lg " name="" [disabled]="uservideo.form.invalid" >Upload</button>
         </div>
          </form>
          <!-- <form  #userupload="ngForm" style="margin-top: 150px;" (ngSubmit)="Userupload()" name="form">
          
            <div class="form-group mt-3 pl-2 pr-2 ">
            <label >Select Video</label>
             <input type="file" class="form-control" name="video" id="video" #video="ngModel" [(ngModel)]="userItem.video" maxlength="32"  [class.is-invalid]="name.invalid && name.touched" pattern="[A-Za-z ]{1,32}" placeholder=" Enter alphabet characters only" required autocomplete="off">  
               
            </div>
            
          <div class="form-group pl-2 pr-2 mt-3">
            <label>Email address</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Your Email *" #email="ngModel" [(ngModel)]="userItem.email" [class.is-invalid]="email.invalid && email.touched" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$"  required>
                            
                          <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.pattern">Please enter valid email</div>   
                            </div>
            
            
          </div>
          <div class="form-group pl-2 pr-2 mt-3">
            <label >Password</label>
            <input type="password" class="form-control" name="password" id="pass" #password="ngModel" minlength="6"  [(ngModel)]="userItem.password" [class.is-invalid]="password.invalid && password.touched" placeholder="Password *" required>
            <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
               
          </div>        
            
            <div class="form-group text-center  mb-4">
          <button type="submit" class="btn btn-warning  btn-lg " name="" [disabled]="userlogin.form.invalid">SignUp</button>
       </div>
        </form>
       -->
        
    </div>
    </div>
    </div>
    </div>
</div>

